@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Meow+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Amatic SC', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2{
    @apply pt-10 text-5xl font-bold;
}

h3 {
    @apply text-3xl;
}

.p-full {
    @apply text-xl;
}

/*body::-webkit-scrollbar {*/
/*    width: 12px;               !* width of the entire scrollbar *!*/
/*}*/

/*body::-webkit-scrollbar-track {*/
/*    background: #222;        !* color of the tracking area *!*/
/*}*/

/*body::-webkit-scrollbar-thumb {*/
/*    background-color: gray;    !* color of the scroll thumb *!*/
/*    border-radius: 20px;       !* roundness of the scroll thumb *!*/
/*}*/