@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Meow+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #222;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
nav{
    /*font-family: 'Meow Script', cursive;*/
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.inicial{
    font-family: 'Meow Script', cursive;
    font-size: 2em;
    color: white;
    font-weight: normal;
}

.text{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}